/* .row div {
  border: 1px #ccc solid;
}

.row section {
  border: 1px #ccc solid;
} */

html {
  font-family: 'Open Sans', Times, serif;
  font-size: 18px;
  padding: 100px;
}

a {
  text-decoration: none;
  color: skyblue;
  position: relative;
}

h1 {
  font-family: 'Open Sans', cursive;
  font-size: 2rem;
}

@media only screen and (max-width: 768px) {
  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
    margin-top: 50px;
  }

  .row {
    flex-wrap: wrap;
  }

  .image {
    justify-content: center;
    align-items: center;
  }

  .list {
    padding-left: 10px;
  }
}

@media only screen and (min-width: 768px) {
  h2 {
    padding-left: 0px;
  }

  .row {
    display: flex;
  }

  .list {
    padding-left: 0px;
  }
}

.link--animation::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: currentColor;
  transform: scaleX(0);
  transition: transform 250ms ease-in;
}

.link--animation:hover::after {
  transform: scaleX(1);
}

.row {
  flex-basis: 100%;
}

.sections {
  list-style-type: none;
  display: flex;
  justify-content: center;
  width: 100%;
  background: white;
  position: fixed;
  padding: 10px;
  top: 0;
  left: 0;
  margin: 0px;
}

.sections li {
  padding: 15px;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.col-2 {
  flex-basis: 16.66%;
}

.col-3 {
  flex-basis: 29.12%;
}

.col-4 {
  flex-basis: 33.33%;
}

.col-5 {
  flex-basis: 41.66%;
}
.col-6 {
  flex-basis: 50%;
}
.col-7 {
  flex-basis: 58.33%;
}

.col-8 {
  flex-basis: 66.66%;
}
.col-12 {
  flex-basis: 100%;
}

.image {
  border-radius: 2.5%;
  width: 350px;
  height: 350px;
  object-fit: cover;
  padding-right: 0;
}

.links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-left: 0px;
  margin: 0;
}

.links li {
  padding-right: 10px;
  padding-top: 0px;
}

.list {
  list-style-type: none;
  justify-content: center;
  margin: 0;
}

.date {
  font-size: 12px;
  color: rgb(99, 96, 96);
}

.head {
  display: inline-block;

  animation: bounce;
  animation-duration: 2s;
}

.project--filter {
  display: flex;
  justify-content: left;
}

.project--filter li {
  padding-bottom: 20px;
  padding-right: 10px;
}

.filter--div {
  border-radius: 1rem;
  background: #eeeeee;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem;
  cursor: pointer;
}

.all {
  background: lightgoldenrodyellow;
  color: darkgoldenrod;
}

.temporary {
  background: lightcyan;
  color: darkcyan;
}

.journal {
  background: lightgreen;
  color: darkgreen;
}

.technique {
  background: lightpink;
  color: darkred;
}

.back {
  font-size: 20px;
}
